@page "/generalgame"
@using SOSGame.GUI.Data;
@using SOSGame.GUI.Data.Factories;
@using SOSGame.GUI.Data.Objects;
@inherits BaseGame

<PageTitle>General Game</PageTitle>

<h1>General Game</h1>

<h2> Current Player: @(FirstPlayer ? "First Player" : "Second Player")</h2>
@code 
{
}

<div>
    <InputSelect Value="@GameBoard.Size"
                 ValueChanged="@((int value) => ResetBoard(value))"
                 ValueExpression="(() => GameBoard.Size)">
        <option value=3>3</option>
        <option value=4>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
        <option value=8>8</option>
        <option value=9>9</option>
        <option value=10>10</option>
    </InputSelect>
</div>


<div class="board">
    @for (int i = 0; i < GameBoard.Size; i++)
    {
        <div class="column">
            @for (int j = 0; j < GameBoard.Size; j++)
            {
                int x = i;
                int y = j;
                
                <div class="gametile
                         @GameBoard.Tiles[i,j]" @onclick="@(() => TileClicked(x,y))">
                    @if (GameBoard.Tiles[x, y].FirstPlayerOwned.HasValue && GameBoard.Tiles[x, y].FirstPlayerOwned.Value)
                    {
                        <span class="blue"><strong>@base.GameBoard.Tiles[x,y].Letter</strong></span>
                    }
                    else
                    {
                        <span class="red"><strong>@base.GameBoard.Tiles[x,y].Letter</strong></span>
                    }
                </div>
            }
        </div>
    }
</div>

@* <input type="radio" id="player1" name="Player 1"/>
<label for="player1">Human</label> *@

<h4>First Player Letter Selection:</h4>
<div>
    <EditForm Model="base.GameBoard">
        <InputRadioGroup @bind-Value="GameBoard.FirstPlayerLetter">
            @foreach (var letter in LetterOptions)
            {
                if (LetterOptions.First().Equals(letter))
                {
                    <InputRadio Value="letter" /> @letter <br />
                }
                else
                {
                    <InputRadio Value="letter" /> @letter <br />
                }

            }
        </InputRadioGroup>
    </EditForm>
</div>

<h4>Second Player Letter Selection:</h4>
<div>
    <EditForm Model="base.GameBoard">
        <InputRadioGroup @bind-Value="GameBoard.SecondPlayerLetter">
            @foreach (var letter in LetterOptions)
            {
                <InputRadio Value="letter" /> @letter <br />
            }
        </InputRadioGroup>
    </EditForm>
</div>